* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
}

:root {
  --color-bg: #f1f3ff;
  --color-primary: #0d28a6;
  --color-succes: #5cb85f;
  --color-warning: #f9cc00;
  --color-danger: #fa2c5a;
  --color-black: #000000;
  --color-white: #ffffff;

  --container-width-lg: 76%;
}
body {
  font-family: Helvetica;
}

.container-all {
  width: var(--container-width-lg);
  margin: 0 auto;
}

.btn-umum {
  /* inline block agar dapat diatur tinggi dan lebar */
  display: inline-block;
  background: var(--color-primary);
  color: var(--color-black);
  padding: 0.5rem 1rem;
  border: 1px solid transparent;
  font-weight: 700;
  transition: var(--transition);
  align-items: center;
}

.btn-umum:hover {
  background: transparent;
  color: var(--color-white);
  border-color: var(--color-white);
}

.btn-utama {
  background: var(--color-succes);
  color: var(--color-white);
}

/* ========= Navbar ========= */

nav {
  display: flex;
  background-color: var(--color-bg);
  height: 4rem;
  z-index: 11;
  position: fixed;
  width: 100%;
}

.nav_container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

nav button {
  display: none;
}

.nav_menu {
  display: flex;
  gap: 2rem;
  margin-top: 0.8rem;
  align-items: center;
}

.nav_menu .menu {
  color: var(--color-black);
  font-weight: 500;
}

.nav_menu .menu:hover {
  color: var(--color-white);
}

/* ========= Header ========= */

header {
  height: 70vh;
  background: var(--color-bg);
  width: 100vw;
}

.header_container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 5rem;
  height: 100%;
}

.header_kiri {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.header_kiri h1 {
  font-weight: 700;
  line-height: 3rem;
}

.header_kiri p {
  margin: 1rem 8rem 2.4rem 0;
  line-height: 1.5rem;
}

.header_kanan {
  display: flex;
  align-items: flex-end;
}

.header_kanan img {
  position: absolute;
  right: 0;
  width: 48%;
}

/* ===========Our Service============== */
.services {
  height: 30rem;
}

.services_container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin-top: 5rem;
  gap: 2rem;
}

.service-kiri {
  display: flex;
  justify-content: center;
}

.service-kanan ul li {
  list-style-image: url(/images/bullet.svg);
}

.service-kanan ul p {
  margin-left: 0.5rem;
  position: relative;
  top: -8px;
}

/* ===========Why Us============== */

.why-us {
  margin-top: 5rem;
}

.why_us > p {
  margin: 1rem 0;
}

.why-container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 3rem;
  margin: 2rem 0;
}

.why_card {
  padding: 2rem;
  border-radius: 1rem;
  border: 1px solid rgb(81, 81, 81);
  transition: all 400ms ease;
}

.why_card:hover {
  box-shadow: -1rem 1rem 1rem rgba(52, 52, 52, 0.52);
}

.why_card h3 {
  margin: 1rem 0;
}

.why_card p {
  line-height: 20px;
}

/* ===========Testimonial============== */

.testimoni-container {
  margin-top: 5rem;
  width: 100vw;
}

.testi-card {
  background: var(--color-bg);
  padding: 2rem;
  margin: 2rem;
  display: grid;
  grid-template-columns: 1fr 3fr;
  gap: 2rem;
  height: 30vh;
}
.user-foto {
  display: flex;
  align-items: center;
  justify-content: center;
}

.user-foto img {
  max-width: 10vw;
}

.image-rate {
  width: 4vw;
  margin-bottom: 0.5rem;
}

.user-testi {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.user-testi p {
  line-height: 1.5rem;
}

.user-testi h5 {
  margin-top: 0.5rem;
  font-size: 16px;
}
.testimoni-container h2 {
  text-align: center;
}

.testimoni-container > p {
  margin-top: 1rem;
  text-align: center;
}

.owl-nav {
  text-align: center;
  font-size: 3rem;
}

.owl-next,
.owl-prev {
  margin: 0 0.5rem;
}

/* ===========Sewa Mobil============== */
.sewa-mobil {
  margin-top: 5rem;
}
.sewa-card {
  background: var(--color-primary);
  height: auto;
  padding: 2rem 15rem;
  border-radius: 1rem;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.sewa-card h2 {
  color: var(--color-bg);
  line-height: 54px;
  font-size: 34px;
}

.sewa-card p {
  margin: 1rem 5rem;
  color: var(--color-bg);
  font-size: 16px;
}

.sewa-card a {
  margin-top: 1rem;
}

/* ===========FAQ============== */

.FAQ {
  margin-top: 10rem;
}

.Faq-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 2rem;
}

.faq-kiri p {
  margin-top: 1rem;
}

.accordion {
  margin-bottom: 2rem;
}

/* ===========Footer============== */

.footer {
  margin-top: 10rem;
  height: 20vh;
}

.footer-container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 1rem;
}

.footer-1 p {
  margin-bottom: 1rem;
}

.footer-2 p {
  padding-left: 3rem;
  margin-bottom: 1rem;
  font-weight: 600;
}

.footer-3 p {
  margin-bottom: 1rem;
}

.footer-3 img {
  margin-right: 0.5rem;
}

.footer-4 p {
  margin-bottom: 1rem;
}

/* ===========Media queri (tablet)============== */
@media screen and (max-width: 1200px) {
  .container-all {
    width: 90%;
  }

  nav button {
    display: none;
  }
  /* =========== Header ============== */

  header {
    height: 60vh;
  }

  .header_kiri p {
    margin: 1rem 2rem 1rem 0;
  }

  .header_kanan img {
    width: 65%;
  }

  /* ===========Our Service============== */
  .services {
    height: auto;
  }

  .service-kiri img {
    width: 50vw;
  }

  .service-kanan {
    padding: 0 1rem 0 1rem;
  }

  /* ===========Why Us============== */

  .why-container {
    grid-template-columns: 1fr 1fr;
  }

  /* ===========Testimonial============== */

  .testimoni-container {
    width: 100%;
  }

  .testi-card {
    margin: 1rem;
  }

  .user-foto img {
    max-width: 20vw;
  }

  /* ===========Sewa Mobile============== */

  .sewa-card {
    padding: 2rem 5rem;
  }

  /* ===========Footer============= */

  .footer-2 p {
    padding-left: 1rem;
  }

  .footer-3 img {
    margin-right: 0.2rem;
  }
}

/* ===========Media queri (phone)============== */
@media screen and (max-width: 600px) {
  .container-all {
    width: 94%;
  }

  nav button {
    display: inline-block;
    background: transparent;
    font-size: 1.8rem;
    color: var(--color-primary);
    cursor: pointer;
    border: 0;
    z-index: 11;
  }

  #close-menu-btn {
    display: none;
    position: fixed;
    right: 1rem;
  }

  .nav_menu {
    position: fixed;
    top: 0;
    right: 0;
    height: 100vh;
    width: 13rem;
    padding-top: 1.5rem;
    padding-left: 1rem;
    flex-direction: column;
    background: var(--color-white);
    align-items: flex-start;
    z-index: 11;
    display: none;
  }

  /* =========== Header ============== */
  header {
    height: 120vh;
  }

  .header_container {
    grid-template-columns: 1fr;
  }

  .header_kanan img {
    width: 96%;
  }

  .header_kiri p {
    margin: 1rem 0;
  }
  /* =========== Service ============== */
  .services {
    height: auto;
  }

  .services_container {
    grid-template-columns: 1fr;
    margin-top: 2rem;
  }

  .service-kiri img {
    width: 60%;
  }

  .service-kanan {
    padding: 0;
  }

  .service-kanan h2 {
    word-spacing: normal;
    font-size: 22px;
  }

  .service-kanan > p {
    font-size: 14px;
  }

  /* =========== Why Us ============== */

  .why-us {
    height: auto;
  }

  .why_us > h2 {
    text-align: center;
  }
  .why_us > p {
    text-align: center;
  }

  .why-container {
    grid-template-columns: 1fr;
  }

  .why_card {
    padding: 1rem;
  }

  .why_card h3 {
    font-size: 16px;
  }

  .why_card p {
    font-size: 14px;
  }

  /* =========== Testimoni ============== */

  .testi-card {
    grid-template-columns: 1fr;
    height: 65vh;
    margin: 1rem 0;
    padding: 1rem;
  }

  .user-foto img {
    max-width: 100px;
  }

  .testimoni-container p {
    font-size: 14px;
  }
  .image-rate {
    display: flex;
    width: 100%;
    justify-content: center;
  }

  .image-rate img {
    max-width: 20%;
  }

  /* =========== Sewa Mobil ============== */
  .sewa-card {
    padding: 2rem 2rem;
  }

  .sewa-card p {
    margin: 0.5rem 1rem;
  }

  /* ===========FAQ============== */

  .Faq-container {
    grid-template-columns: 1fr;
  }

  /* ===========Footer============== */
  .footer-container {
    grid-template-columns: 1fr;
    gap: 1rem;
  }

  .footer-2 p {
    padding-left: 0;
  }

  .footer-4 {
    margin-bottom: 1rem;
  }
}
